*.class
*.tasty
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
project/target/
project/project/
.bsp/
.metals/
.bloop/
metals.sbt
.idea/
.vscode/
.superpowers/
docs/superpowers/
node_modules/
# read-only reference checkouts (Leo-III, scala-tptp-parser, tptp-utils)
reference/
